<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwOnConfigExceptions="true">

	<variable name="logDirectory" value="${basedir}/Logs" />

	<extensions>
		<add assembly="NLog.ClickHouse"/>
	</extensions>

	<targets async="true">
		<target xsi:type="ClickHouse"
				name="clickHouseDefault"
				cluster=""
				connectionString=""
				tableName="CustomLog">

			<field name="Id" layout="${guid}" CHColumnType="UUID" />
			<field name="Date" layout="${date}" CHColumnType="Datetime" />
			<field name="Level" layout="${level}"/>
			<field name="Message" layout="${message}" />
			<field name="Logger" layout="${logger}"/>
			<field name="Exception" layout="${exception:format=tostring}" />
			<field name="ThreadID" layout="${threadid}" CHColumnType="int" />
			<field name="ThreadName" layout="${threadname}" />
			<field name="ProcessID" layout="${processid}" CHColumnType="int" />
			<field name="ProcessName" layout="${processname:fullName=true}" />
			<field name="UserName" layout="${windows-identity}" />
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="clickHouseDefault" />
	</rules>
</nlog>